In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [2]:
import pandas as pd

In [3]:
country=["Germany"
         ,"Russia"
         ,"United Kingdom","France","Italy","Spain","Ukraine","Poland","Romania","Netherlands","Belgium","Czech Republic","Greece","Portugal"
,"Sweden"
,"Hungary"
,"Belarus"
,"Austria"
,"Serbia"
,"Switzerland"
,"Bulgaria"
,"Denmark"
,"Finland"
,"Slovakia"
,"Norway"
,"Ireland"
,"Croatia"
,"Moldova"
,"Bosnia and Herzegovina"
,"Albania"
,"Lithuania"
,"North Macedonia"
,"Slovenia"
,"Latvia"
,"Estonia"
,"Montenegro"
,"Luxembourg"
,"Malta"
,"Iceland"
,"Canada"
,"Australia"
,"New Zealand"]

In [28]:
covid = pd.read_csv("owid-covid-data.csv")

In [32]:
covid["date"]

location
Afghanistan      2019-12-31
Afghanistan      2020-01-01
Afghanistan      2020-01-02
Afghanistan      2020-01-03
Afghanistan      2020-01-04
Afghanistan      2020-01-05
Afghanistan      2020-01-06
Afghanistan      2020-01-07
Afghanistan      2020-01-08
Afghanistan      2020-01-09
Afghanistan      2020-01-10
Afghanistan      2020-01-11
Afghanistan      2020-01-12
Afghanistan      2020-01-13
Afghanistan      2020-01-14
Afghanistan      2020-01-15
Afghanistan      2020-01-16
Afghanistan      2020-01-17
Afghanistan      2020-01-18
Afghanistan      2020-01-19
Afghanistan      2020-01-20
Afghanistan      2020-01-21
Afghanistan      2020-01-22
Afghanistan      2020-01-23
Afghanistan      2020-01-24
Afghanistan      2020-01-25
Afghanistan      2020-01-26
Afghanistan      2020-01-27
Afghanistan      2020-01-28
Afghanistan      2020-01-29
                    ...
International    2020-02-03
International    2020-02-04
International    2020-02-05
International    2020-02-06
International    2020-02-07
International    2020-02-08
International    2020-02-09
International    2020-02-10
International    2020-02-11
International    2020-02-12
International    2020-02-13
International    2020-02-14
International    2020-02-15
International    2020-02-16
International    2020-02-17
International    2020-02-18
International    2020-02-19
International    2020-02-20
International    2020-02-21
International    2020-02-22
International    2020-02-23
International    2020-02-24
International    2020-02-25
International    2020-02-26
International    2020-02-27
International    2020-02-28
International    2020-02-29
International    2020-03-01
International    2020-03-02
International    2020-03-10
Name: date, Length: 22452, dtype: object

In [5]:
# covid["date"] = pd.to_datetime(covid["date"],format="%Y-%M-%d")

In [29]:
covid.set_index("location",inplace=True)

In [30]:
day_list = []

In [31]:
for i in country:
    each_country = covid.loc[(covid["total_cases"]>30)&(covid.index==i),["date","total_cases"]]
    max_count = each_country["total_cases"].max()
    min_count = each_country["total_cases"].min()
    max_date = each_country.loc[each_country["total_cases"]==max_count,"date"]
    min_date = each_country.loc[each_country["total_cases"]==min_count,"date"]
    days_to_peak = max_date - min_date
    get_days = days_to_peak.dt.days
    day_list.append(get_days)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [27]:
 each_country.loc[ each_country["total_cases"]==39,"date"]

location
New Zealand   2020-01-20 00:03:00
Name: date, dtype: datetime64[ns]

In [26]:
min_count

39

In [21]:
max_date

location
New Zealand   2020-01-22 00:05:00
New Zealand   2020-01-23 00:05:00
New Zealand   2020-01-24 00:05:00
New Zealand   2020-01-25 00:05:00
New Zealand   2020-01-26 00:05:00
New Zealand   2020-01-27 00:05:00
New Zealand   2020-01-28 00:05:00
New Zealand   2020-01-29 00:05:00
New Zealand   2020-01-30 00:05:00
New Zealand   2020-01-31 00:05:00
New Zealand   2020-01-01 00:06:00
New Zealand   2020-01-02 00:06:00
New Zealand   2020-01-03 00:06:00
New Zealand   2020-01-04 00:06:00
New Zealand   2020-01-05 00:06:00
New Zealand   2020-01-06 00:06:00
New Zealand   2020-01-07 00:06:00
Name: date, dtype: datetime64[ns]

In [20]:
day_list

[location
 Germany   -21
 Name: date, dtype: int64, location
 Russia   -7
 Name: date, dtype: int64, location
 United Kingdom    5
 Name: date, dtype: int64, location
 France   -21
 Name: date, dtype: int64, location
 Italy   -16
 Name: date, dtype: int64, location
 Spain   -22
 Name: date, dtype: int64, location
 Ukraine   -16
 Ukraine   -15
 Name: date, dtype: int64, location
 Poland   -5
 Name: date, dtype: int64, location
 Romania   -5
 Name: date, dtype: int64, location
 Netherlands    2
 Name: date, dtype: int64, location
 Belgium    1
 Name: date, dtype: int64, location
 Czech Republic   -2
 Name: date, dtype: int64, location
 Greece    1
 Name: date, dtype: int64, location
 Portugal   -3
 Name: date, dtype: int64, location
 Sweden    2
 Name: date, dtype: int64, location
 Hungary   -9
 Hungary   -8
 Name: date, dtype: int64, location
 Belarus   -10
 Belarus   -11
 Name: date, dtype: int64, location
 Austria    1
 Name: date, dtype: int64, location
 Serbia   -7
 Name: date, dtype: int64, location
 Switzerland    3
 Name: date, dtype: int64, location
 Bulgaria   -7
 Name: date, dtype: int64, location
 Denmark   -1
 Name: date, dtype: int64, location
 Finland   -3
 Name: date, dtype: int64, location
 Slovakia   -8
 Name: date, dtype: int64, location
 Norway    2
 Norway    3
 Name: date, dtype: int64, location
 Ireland   -4
 Name: date, dtype: int64, location
 Croatia   -9
 Croatia   -8
 Croatia   -7
 Name: date, dtype: int64, location
 Moldova   -12
 Name: date, dtype: int64, location
 Bosnia and Herzegovina   -13
 Bosnia and Herzegovina   -12
 Name: date, dtype: int64, location
 Albania   -7
 Name: date, dtype: int64, location
 Lithuania   -12
 Name: date, dtype: int64, Series([], Name: date, dtype: int64), location
 Slovenia   -4
 Name: date, dtype: int64, location
 Latvia   -9
 Name: date, dtype: int64, location
 Estonia   -7
 Name: date, dtype: int64, location
 Montenegro   -19
 Montenegro   -18
 Montenegro   -17
 Montenegro   -16
 Montenegro   -15
 Montenegro   -14
 Montenegro   -13
 Montenegro   -12
 Montenegro   -11
 Montenegro   -10
 Montenegro    -9
 Montenegro    -8
 Montenegro    -7
 Montenegro    -6
 Montenegro    -5
 Montenegro    -4
 Montenegro    -3
 Montenegro    -2
 Montenegro    -1
 Montenegro     0
 Montenegro     1
 Montenegro     2
 Montenegro     3
 Montenegro     4
 Montenegro     5
 Montenegro     6
 Montenegro   -24
 Montenegro   -23
 Montenegro   -22
 Montenegro   -21
 Montenegro   -20
 Montenegro   -19
 Montenegro   -18
 Name: date, dtype: int64, location
 Luxembourg   -7
 Name: date, dtype: int64, location
 Malta   -13
 Malta   -12
 Malta   -11
 Malta   -10
 Name: date, dtype: int64, location
 Iceland    25
 Iceland    -5
 Iceland    -4
 Iceland    -3
 Iceland    -2
 Iceland    -1
 Iceland     0
 Iceland     1
 Name: date, dtype: int64, location
 Canada    2
 Name: date, dtype: int64, location
 Australia    4
 Name: date, dtype: int64, location
 New Zealand     2
 New Zealand     3
 New Zealand     4
 New Zealand     5
 New Zealand     6
 New Zealand     7
 New Zealand     8
 New Zealand     9
 New Zealand    10
 New Zealand    11
 New Zealand   -19
 New Zealand   -18
 New Zealand   -17
 New Zealand   -16
 New Zealand   -15
 New Zealand   -14
 New Zealand   -13
 Name: date, dtype: int64]